<div class="center hero-unit">
  <h1>Trade Watch</h1>
  
  <h2>
    This is the home page for your Trade Watchlist!
  </h2>
  
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
  
</div>