<div class="center hero-unit">
  <h1>Trade Journal</h1>
  
  <h2>
    This is the home page for your Trade Journal!
  </h2>
  
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  
</div>