<h1>Stock!</h1>

<p>
  <strong>Symbol:</strong>
  <%= @stock.symbol %>
</p>
 
<p>
  <strong>Target:</strong>
  <%= @stock.target %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %>
<%= link_to 'Back', stocks_path %>